section:first-of-type {
	background-image: url('desk.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ffffff;
	height: 500px;
}

.cover {
	background-image: linear-gradient(to right, #2f2404a1, #aba34a9e);
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 10;
	height: 500px;
}

.cover > p {
	width: 30%;
	position: absolute;
	top: 170px;
	right: 180px;
}
