.main {
	background-image: url('desk.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ffffff;
	height: 500px;
}

.main::after {
	content: '';
	width: 100%;
	height: 200px;
	background: url('bubble_back.png') left bottom no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 15;
	top: 352px;
	display: inline-block;
}

.cover {
	background-image: linear-gradient(to right, #44034cc7, #4aa7ab9e);
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 10;
	height: 500px;
}
.cover > p {
	margin: 10% 5%;
	float: right;
	font-size: 2.75rem;
}
.cover::after {
	content: '';
	display: table;
	clear: both;
}
