span.dots,
span.dots > span {
	background: url('./dots.png') no-repeat left;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 386px;
	text-align: left;
	vertical-align: baseline;
	background-size: 294px auto;
}

span.dots > span {
	background: url('./dots-full.png') no-repeat left;
	background-size: 294px auto;
}

.x-button {
	background: transparent;
}
.x-button:hover {
	opacity: 0.5;
}

.tags > ul {
	list-style: none;
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}
.tags > ul li {
	font-size: 1.2rem;
}
.years button {
	border-bottom: 2px solid #ced4da;
}
.years button:focus {
	outline: 0;
	box-shadow: none;
}
.years button:hover,
.years button.active {
	border-bottom: 2px solid;
}
