<div id="container">
  <div id="mover" class="dot"></div>
  <div id="origin" class="dot"></div>
  <div id="left" class="circle"></div>
  <div id="right" class="circle"></div>
</div>

<div class="card">
  <div class="view overlay">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <div class="card-body elegant-color white-text rounded-bottom">
    <a class="activator waves-effect mr-4"
      ><i class="fas fa-share-alt white-text"></i
    ></a>

    <h4 class="card-title">Card title</h4>
    <hr class="hr-light" />

    <p class="card-text white-text mb-4">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>

    <a href="#!" class="white-text d-flex justify-content-end"
      ><h5>Read more <i class="fas fa-angle-double-right"></i></h5
    ></a>
  </div>
</div>





















<div>
  <dl>
    <dt>A</dt>
    <dd>Andrew W.K.</dd>
    <dd>Apparat</dd>
    <dd>Arcade Fire</dd>
    <dd>At The Drive-In</dd>
    <dd>Aziz Ansari</dd>
  </dl>
  <dl>
    <dt>C</dt>
    <dd>Chromeo</dd>
    <dd>Common</dd>
    <dd>Converge</dd>
    <dd>Crystal Castles</dd>
    <dd>Cursive</dd>
  </dl>
  <dl>
    <dt>E</dt>
    <dd>Explosions In The Sky</dd>
  </dl>
  <dl>
    <dt>T</dt>
    <dd>Ted Leo & The Pharmacists</dd>
    <dd>T-Pain</dd>
    <dd>Thrice</dd>
    <dd>TV On The Radio</dd>
    <dd>Two Gallants</dd>
  </dl>
</div>